@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
